//@import '~normalize.css'
//@import '~prismjs/themes/prism.css'

//
// variable
// -----------------------------------------

fontSize = 14px

fontFamily = "Avenir", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",Helvetica, Arial, sans-serif
monospaceFontFamily = "Ubuntu Mono" ,"PT Mono", Consolas, Monaco, Menlo, monospace
anthoerFontFamily = Consolas, "Liberation Mono", Menlo, Courier, monospace;

bgColor = #fff
textColor = #555
linkColor = #05f
metaColor = #888
// codeBgColor = #f7f7f7
blockBgColor = #f0f0f0
codeBgColor = #fff
titleColor = #0AF

//
// common
// -----------------------------------------

/::-moz-selection,
/::selection
  background #B2D7FF

body
  // font
  font-family fontFamily
  font-size fontSize
  line-height 2
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust none
  // size
  position relative
  // max-width 700px
  margin 0 auto
  padding 0
  // background #222
  color textColor

h1,
h2,
h3,
h4,
h5,
h6
  color #222
  font-weight 400

a
  text-decoration none
  color linkColor
  overflow-wrap break-word
  word-break break-all


::-webkit-scrollbar
{
	width: 8px;
  height: 8px;
	background-color: transparent;

  
}

::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E9E9E9;
  border-radius: 16px;
}


::-webkit-scrollbar-thumb
{
  width: 8px;
  height: 8px;
  border-radius: 16px;
	background-color: #333;
  
}

//
// table
// -----------------------------------------

table {
    display: block;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    border-color: grey;
}

table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table th {

    text-align: -internal-center;
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #ddd;
    padding-left: 13px;
}

table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    word-wrap: break-word !important;
    word-break: break-all !important;
}

//
// Shared
// -----------------------------------------

.header
  background: #222;
  //fixed header
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  
.header .linkCon 
  padding: 16px 20px;
  width: 670px;
  margin: 0 auto;

.header .linkCon .link 
  color:white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing 5px
  text-transform uppercase
  // font-weight: 600;
  display: -webkit-box;


.footer
  text-align center
  color metaColor
  max-width: 670px;
  margin: 4px auto;
  padding-left: 20px;
  padding-right: 20px;
  a
    color metaColor
    text-decoration underline

.transition-container
  background-color white

.center-container 
  max-width: 670px;
  margin: 0 auto;
  text-align: left;
  padding-left:20px;
  padding-right:20px;
  // margin-top:90px;
  padding-top:80px;


//
// List View
// -----------------------------------------

.list-view
  ol,
  ul
    padding 0
    list-style none

.list-view 
  ul
    li
      padding-top: 3px;
      padding-bottom: 3px;

.list-view
  padding-bottom: 20px;
  a
    font-size: 1.05em;
    border-bottom 1px dashed transparent
  a:hover
    font-size: 1.05em;
    border-bottom 1px dashed linkColor

.list-view
  h2:nth-child(1){
    // padding-top 68px
  }
//
// Article View
// -----------------------------------------

.article-view
  padding-bottom: 20px;
  a:hover
    border-bottom 1px dashed linkColor

// when smaller than tablet
@media (max-width: 767px)
  // .post-title
  //   font-size 1.5em


pre
  // background codeBgColor !important
  background blockBgColor
  padding 16px
  overflow-x auto
  white-space pre


code
  background blockBgColor
  padding: 4px
  // font-family monospaceFontFamily !important



img
  width:100%

caption
    text-align: center;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    width: 100%;
    line-height: 2em;
    display: block;
    word-break: break-all;

blockquote
  margin 0
  padding 0 16px
  border-left 4px solid #ddd

//
// HLJS - mWebBase
// -----------------------------------------

.hljs {
  display: block;
  padding: 0.0em;
  padding-bottom:0.75em
  color: #333;
  background: codeBgColor;
  -webkit-text-size-adjust: none;
  // 添加无滚动条效果
  overflow-x: auto;
}

.hljs table {
  display: inline;
  margin-bottom: 0px;
}


.hljs tr,.hljs td {
  border: 0px;
}

.hljs-ln-n:before {
  //margin-right: 12px;
}

.hljs-ln-n {
  // padding-right: 10px;
  // padding-left: 10px;
  width: 1%;
  min-width: 24px; 
  padding-right: 12px;
  color: #969896;
  text-align: right;
  user-select: none;
}

.hljs-ln-numbers .hljs-ln-line {
  border-right: 1px solid #ddd;
}

.hljs-ln-code  {
  padding-left: 11px !important;
}

.hljs-ln-line code
  background: codeBgColor
  padding: 0px

.hljs-comment,
.diff .hljs-header,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status,
.hljs-selector-tag {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080;
}

.hljs-regexp,
.hljs-link  {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-ln {
  width: 100%;
  // border: 0px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #ffffff;
    font-weight: 700;
}



// Github-Gist-Theme

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

//
// Three.js - Canvas 
// -----------------------------------------


.dg.main.taller-than-window .close-button {
  margin-top 0px
}

.dg .slider {
    width: 59% !important;
}